<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
   
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
     <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/admin.css' />
  </head>
  <body>
    {{> header }}
    
    <div class="container" onmousemove='locate(event)'>{{{body}}}</div>
  <script>
    function locate(event){
  		var y=event.clientX-window.screen.availWidth/2;
  		var x=event.clientY-window.screen.availHeight/2+window.scrollY;
  		var	z=document.getElementsByClassName("menarjonboun");
    var i;
    for (i = 0; i < z.length; i++) {
      var n  = z[i].className.split(' ')[1];
      z[i].style.transform="  translate(" + -(y/window.screen.availHeight/2)*100*n +"px , "+ -(x/window.screen.availWidth/2)*100*n +"px )";
n=0;
    }

  	}
  	function click(event){
  		//document.getElementById('inner').style.font-size=" 60px ";
  	}
  	</script>
  
  	
  <script type="text/javascript">

function run(e){
  
  if(document.getElementById('logout'))
  {
    document.getElementById('logout').style.transform="translate(150px,0px)";
    document.getElementById('profile').style.transform="translate(75px,0px)";
  }
  else
  {
    document.getElementById('signin').style.transform="translate(150px,0px)";
    document.getElementById('signup').style.transform="translate(75px,0px)";
  }

}

  </script>
 
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script> 
  </body>
</html>
