
<div id="container"  class="scene" >
  <div class="images left" >

      <div  class="pic 1 detail layer menarjonboun" data-depth="1.00" onclick="location.href='/seller/seller';">

        <span> <p>seller</p><a href="/seller/seller" id="seller"></a></span>
        <img class="pic 1 layer menarjonboun"src="https://static.thenounproject.com/png/2351010-200.png" alt="" data-depth=".70" 
  id="img-id">
        <!-- <img class="pic 1"src="E:\2351010-200.png" alt=""> -->

      </div>

  </div>


  <div class="images  right">
    <div class="pic 1 detail menarjonboun" data-depth=".80" onclick="location.href='/shop/products';">

    <span><p>product</p></span>
    <img class="pic 1 menarjonboun" src="https://iconsplace.com/wp-content/uploads/_icons/000000/256/png/product-icon-256.png" alt="">
    <!-- <img class="pic 1"src="E:\product-icon-256.png" alt=""> -->
    </div>


  </div>
</div>
